*{
    padding: 0;
    margin: 0;
}
/* #2e2be9 #7857ff */
.header
{
    background: linear-gradient(to left, #2e2be9, #7857ff );
    padding: 20px 40px;
    color: white;
    height: 40vh;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header .heading
{
    font-weight: 300;
    opacity: 80%;
    font-size: 14px;
}
.grade
{
    background: linear-gradient(to right, #4e21ca, #2421ca00);
    width: 50px;
    height: 50px;
    padding: 30px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grade .marks-obtained
{
    font-weight: bold;
    font-size: 42px;
}
.grade .marks-obtainable
{
    opacity: 80%;
}
.header .comment
{
    font-size: 16px;
    font-weight: 550;
}
.comment-description
{
    font-size: 14px;
    font-weight: lighter;
    opacity: 80%;
    margin-bottom: 10px;
    text-align: center;
}
/* End of styles for header */

/* Beginging of the content styles */
.content
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.content .summary
{
    font-weight: bold;
    font-size: 18px;
}
.summary-one
{
    background: rgba(255, 0, 0, 0.046);
    padding: 15px 30px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.summary-two
{
    background: rgba(255, 217, 0, 0.046);
    padding: 15px 30px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    }
.summary-three {
    background: rgba(0, 255, 55, 0.046);
    padding: 15px 30px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.summary-four {
    background: rgba(51, 0, 255, 0.046);
    padding: 15px 30px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.summary-one .title
{
    color: red;
    opacity: 60%;
}
.summary-two .title {
    color: rgb(255, 157, 0);
    opacity: 60%;
}
.summary-three .title {
    color: rgb(0, 128, 53);
    opacity: 60%;
}
.summary-four .title {
    color: rgb(123, 0, 255);
    opacity: 60%;
}
.content .scores
{
    font-weight: bold;
}
.content .scores span
{
    opacity: 40%;
}
.title
{
    font-weight: bold;
    margin-left: -45px;
}
.content button
{
    padding: 10px;
    border-radius: 50px;
    color: white;
    border: none;
    background: hsl(224, 30%, 27%);
}
@media (min-width: 768px)
{
    .medium-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.112);
    }
    .header {
        height: 380px;
        width: 50%;
        border-radius: 10px;
        }
    .content {
        width: 50%;
        height: 100%;
        display: flex;                  
        }
                .comment-description {
                    font-size: 14px;
                    font-weight: lighter;
                    opacity: 80%;
                    text-align: center;
                }
}

